# top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Markdown files
[*.md]
max_line_length = off
trim_trailing_whitespace = false

# YAML files
[*.yaml]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Lua filters
[*.lua]
indent_style = space
indent_size = 4

# JSON, if needed later
[*.json]
indent_style = space
indent_size = 2

# Makefile require tabs, not spaces
[Makefile]
indent_style = tab
